<div class='task' id="task-<%= @task.id %>">
	<% if @task.status == "incomplete" %>
		<%= @task.description %>
		<button type="button" class="btn btn-danger btn-xs"> <%= link_to '[REMOVE]', user_list_task_path(id: @task.id, list_id: @task.list), data: {:confirm => 'Are you sure?'}, :method => :delete, :remote => true %> </button>
		<button type="button" class="btn btn-success btn-xs"> <%= link_to '[COMPLETE]', user_list_task_path(id: @task.id, list_id: @task.list, status: 'complete'), date: {:confirm => 'Are you sure?'}, :method => :patch, :remove => true, :remote => true %> </button>
	<% else %>
		<strike><%= @task.description %></strike>
		<button type="button" class="btn btn-danger btn-xs"> <%= link_to '[REMOVE]', user_list_task_path(id: @task.id, list_id: @task.list), data: {:confirm => 'Are you sure?'}, :method => :delete, :remote => true %> </button>
		<button type="button" class="btn btn-success btn-xs"> <%= link_to '[INCOMPLETE]', user_list_task_path(id: @task.id, list_id: @task.list, status: 'incomplete'), date: {:confirm => 'Are you sure?'}, :method => :patch, :remove => true, :remote => true %> </button>
	<% end %>
</div>